* {
  box-sizing: border-box; }

body {
  font: 3rem/1.5 "Montserrat", sans-serif;
  color: #1b3a51;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-item {
  -webkit-flex: auto;
  flex: auto;
  padding: 1.5rem; }

.flex-100 {
  flex-basis: 100%; }

.flex-60 {
  flex-basis: 58.3333%; }

.flex-40 {
  flex-basis: 41.6666%; }

.serif {
  font-family: "Merriweather", serif; }

a {
  color: inherit; }

sup {
  font-size: 1.5rem;
  margin-left: 0.5rem; }

.hidden {
  opacity: 0;
  height: 0;
  transition: all 0.2s ease; }

.hidden.reveal {
  opacity: 1;
  height: auto; }

.off-screen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

h1, h2, h3, h4, h5 {
  font-family: "Merriweather", serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 700; }

.headline {
  font-size: 7rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0rem 15rem;
  border-bottom: 1px solid #1b3a51; }
  .headline span.name {
    text-transform: none; }

.blue-block {
  background: #1b3a51;
  color: white;
  padding: 1rem; }

.red-border-right {
  border-right: 3px solid #b91a24; }

.red-border-bottom {
  border-bottom: 3px solid #b91a24; }

#spent-today {
  font-size: 3em; }
  #spent-today::before {
    content: "$"; }

#salary-question {
  padding-bottom: 11rem; }

.btn {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  border: 0;
  color: #fff5e6;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px; }

.btn--primary {
  background-color: #496174;
  box-shadow: 0 2px 0 0 #354755; }

.calculator__input {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  margin-bottom: 1rem; }
  .calculator__input:focus, .calculator__input:hover {
    border: 2px solid #ffabae; }

.calculator__label {
  display: block;
  margin-bottom: 1rem; }

footer {
  background-color: #496174;
  color: white; }
