$serif-font: 'Merriweather', serif;
$sans-serif-font: 'Montserrat', sans-serif;

// Pawar color palette
// Warm colors
$burnt-orange: #F3795D;
// Cool colors
$light-blue: #0079A0;
$navy-blue: #233368;
$navy-blue-dk: #222b46;
$dark-blue: #161f3a;
// Color Values
$white: #ffffff;
$extra-light-gray: #f7f7f7;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$gray: #969696;
$dark-gray: #8a8a8a;
$charcoal: #414141;
$black: #0a0a0a;

$color__background-button: $light-blue;

* {
  box-sizing: border-box;
}

body {
  font: 2rem/1.5 $sans-serif-font;
  color: $dark-blue;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  @media print, screen and (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.flex-item {
  -webkit-flex: auto;
  flex: 0 0 auto;
  padding: 2rem;

  @media print, screen and (min-width: 768px) {
    padding: 1.25rem;
  }
}

.flex-full {
  flex-basis: 100%;
  max-width: 100%;
}

.flex-half {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
  
  @media print, screen and (min-width: 64em) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.collapse-top-padding {
  padding-top: 0;
}

.hidden {
    opacity: 0;
    height: 0;
    transition: all 0.2s ease;
}

.hidden.reveal {
    opacity: 1;
    height: auto;
}

.off-screen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

h1, h2, h3, h4, h5 {
    font-family: $serif-font;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

hr {
  border: none;
  height: 1rem;
  background-color: $burnt-orange;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

sup {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

input {
  text-align: center;
  width: 100%;

  @media only screen and (min-width:480px) {
    width: auto;
  }
}


.headline {
  line-height: 1.2;
  font-size: 2.25rem;
  font-weight: 900; 
  text-align: center;
  margin: 0rem; 
  border-bottom: 1px solid $dark-blue;
  padding-bottom: 2rem;

  @media only screen and (min-width:321px) {
    font-size: 2.5rem;
  }

  @media only screen and (min-width:640px) {
    font-size: 5rem;
  }

  @media only screen and (min-width:768px) {
    margin: 0rem 2rem;
  }
}

.blue-block {
  background: $navy-blue-dk;
  color: white;
}

#per-second-counter {
  font-family: $serif-font;
  font-size: 2.5rem;

  @media only screen and (min-width:321px) {
    font-size: 3rem;
  }

  #spent-today {
    @media only screen and (min-width:640px) {
      font-size: 5rem;
    }

    &::before {
      content: "$";
    }
  }
}

#random-spend {
  padding: 1rem 0rem;
}

.button {
  cursor: pointer;
  background: $color__background-button;
  border-radius: 1.5rem;
  color: $white;
  font-weight: 600;
  text-align: center;
  min-width: 10rem;
  padding: 0.875rem 2rem;
  transition: all .15s ease;
  border-bottom: 0;
  margin-top: 1rem;

  &:hover {
    text-decoration: none;
    background: darken($color__background-button, 10);
    color: $white;
  }

  &:visited {
    color: $white;
  }

  &:focus {
    background: darken($color__background-button, 15);
    outline: none;
  }
}

footer {
  background-color: $charcoal;
  color: white;
}
